body
{
	padding-top: 50px;
	background-color: #eeeeee;
}

#header-base
{
	background-color:rgb(124,0,0);
	color:#fff;
	font-family: 'Microsoft Yahei', '微软雅黑';
	font-weight: bold;
}

#base_name
{
	color: #fff;
	font-weight: bold;
}