{% extends "base.html" %}
{% load staticfiles %}
{% block title %}志愿服务{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<table class="table table-bordered table-hover">
			      <thead>
			        <tr>
			          <th>分类</th>
			          <th>项目</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>专业类</td>
			          <td>
			          	<p>2分/时：电脑维修，专业学习辅导等；</p>
			          	<p>2分/时：软件普及等；</p>
			          	<p>2分/时：网站维护等；</p>
			          	<p>2分/时：志愿活动策划人、组织者、负责人等；</p>
			          </td>
					</tr>
			        <tr>
			          <td>非专业类</td>
			          <td>
			          	<p>1分/时：校园清洁，公益宣传等；</p>
			          	<p>1分/时：城市绿化，组织募捐，慰问孤老、残疾人，扶持留守儿童、农民工子弟、博物馆（烈士馆）讲解员、专业宣传、心理辅导等；</p>
			          	<p>1分/时：汉语教学咨询辅导等；</p>
			          	<p>1分/时：集体无偿献血等；</p>
			          	<p>2分/时：志愿活动策划人、组织者、负责人等；</p>
			          </td>
			        </tr>
			        <tr>
			        	<td colspan="2" class=" text-center"><a href="{% static 'other/哈工大青年志愿者服务制度.doc' %}" class="btn btn-primary" role="button">下载哈工大青年志愿者服务制度</a></td>
			        </tr>
			      </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 well">
			<h2>&emsp;&emsp;经过两周的不懈努力，哈工大计算机学院志愿活动申报系统系统终于和大家见面了。本套系统主要为了方便大家在参与志愿活动后进行活动的申报以及对志愿分数的统计。网站暂时还处在调试阶段，欢迎大家发邮件告诉我在使用中发现的问题，以便后期改进。</h2>
			<h3 class="text-center">Email:<span  class="text-info">Duanyi@hit.edu.cn</span></h3>
		</div>
	</div>
</div>

{% endblock %}